<!DOCTYPE html>
<html>
<head>
  <title>Two Factor Authentincation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  

            <% if user_signed_in? %>
            <li>

                   <%= link_to nil do %>
                    <i class="fa fa-user fa-fw"></i><%= current_user.email %>
                   <% end %>
            </li>
            <li>
              <%= link_to qr_codes_show_path do %>
                <i class="fa fa-qrcode fa-fw"></i>QR Code
              <% end %>
            </li>
              <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out fa-fw"></i>Logout
              <% end %>
              </li>
            <% else %>
              <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in fa-fw"></i>Login
              <% end %>
              </li>
            <% end %>

          </ul>
      <ul class="nav navbar-nav">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home fa-fw"></i>Home
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
                <i class="fa fa-info fa-fw"></i>About
              <% end %>
            </li>
            <li>
              <%= link_to contact_path do %>
                <i class="fa fa-envelope fa-fw"></i>Contact
              <% end %>
            </li>
      </ul>
    </div>


  </div>
</nav>
<br><br><br>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
